*.o
*.a
*.lo
*.la
.deps
Makefile
Makefile.in
bscconfig.h
bscconfig.h.in
openbsc.pc
bsc_hack
bsc_msc_ip
bsc_mgcp
*.*~
*.sw?

#configure
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
configure.lineno
depcomp
install-sh
missing
stamp-h1

# libtool
ltmain.sh
libtool
.libs

# git-version-gen magic
.tarball-version
.version


# apps and app data
hlr.sqlite3
bs11_config
ipaccess-config
ipaccess-find
ipaccess-firmware
ipaccess-proxy
isdnsync
bsc_nat
osmo-sgsn
osmo-gbproxy

#tests
tests/channel/channel_test
tests/db/db_test
tests/debug/debug_test
tests/*/*_test

tests/atconfig
tests/package.m4
tests/testsuite
tests/testsuite.log


*.pc
config.*

tags
